aiofiles==0.3.2
alembic==0.9.7
asyncpg==0.13.0
attrs==17.4.0
click==6.7
gino==0.5.7
httptools==0.0.10
Mako==1.0.7
MarkupSafe==1.0
pluggy==0.6.0
psycopg2==2.7.3.2
py==1.5.2
pytest==3.4.0
python-dateutil==2.6.1
python-editor==1.0.3
sanic==0.7.0
six==1.11.0
SQLAlchemy==1.1.15
ujson==1.35
uvloop==0.9.1
websockets==4.0.1
